@{
    ViewData["Title"] = "Home";
}

<h1>Bem-vindo ao OnData</h1>
<a href="@Url.Action("Create", "Cadastro")">Cadastrar Paciente e Ocorrência</a>
<a href="@Url.Action("Index", "Cadastro")">Listar Pacientes e Ocorrências</a>