<link rel="stylesheet" href="~/css/styles.css" />


<div class="container text-center py-5">
    <h1>Bem-vindo ao OnData</h1>
    <div class="d-flex justify-content-center gap-3 mt-4">
        <a href="@Url.Action("Create", "Cadastro")" class="button btn btn-primary">Cadastrar Paciente e Ocorrência</a>
        <a href="@Url.Action("Index", "Cadastro")" class="button btn btn-secondary">Listar Pacientes e Ocorrências</a>
    </div>
</div>
